


body {
  background-color: #f1f1d1;
  color: rgba(35,35,35,0.75);
  max-width: 480px;
  margin: auto;
}
nav span {
 color: rgba(35,35,35,0.75) !important;
}
.file_card {
  background-color: rgba(255, 255, 255, 0.15);
  /* background-color: ; */
}
.file_card a {
  text-decoration: none !important;
  color: unset !important;  
}